- platform: history_stats
  unique_id: ac_living_runtime_yesterday
  name: AC Living Runtime Yesterday
  entity_id: climate.ac_living
  state: 'cool'
  type: time
  start: '{{ now().replace(hour=0, minute=0, second=0) - timedelta(days=1) }}'
  end: '{{ now().replace(hour=0, minute=0, second=0) }}'

- platform: history_stats
  unique_id: ac_bedroom_runtime_yesterday
  name: AC Bedroom Runtime Yesterday
  entity_id: climate.ac_bedroom
  state: 'cool'
  type: time
  start: '{{ now().replace(hour=0, minute=0, second=0) - timedelta(days=1) }}'
  end: '{{ now().replace(hour=0, minute=0, second=0) }}'

- platform: history_stats
  unique_id: ac_office_runtime_yesterday
  name: AC Office Runtime Yesterday
  entity_id: climate.ac_office
  state: 'cool'
  type: time
  start: '{{ now().replace(hour=0, minute=0, second=0) - timedelta(days=1) }}'
  end: '{{ now().replace(hour=0, minute=0, second=0) }}'

- platform: history_stats
  unique_id: ac_kid_runtime_yesterday
  name: AC Kid Runtime Yesterday
  entity_id: climate.ac_iacopewee
  state: 'cool'
  type: time
  start: '{{ now().replace(hour=0, minute=0, second=0) - timedelta(days=1) }}'
  end: '{{ now().replace(hour=0, minute=0, second=0) }}'

- platform: history_stats
  unique_id: ac_living_runtime_7days
  name: AC Living Runtime 7 Days
  entity_id: climate.ac_living
  state: 'cool'
  type: time
  start: '{{ now().replace(hour=0, minute=0, second=0) - timedelta(days=7) }}'
  end: '{{ now() }}'

- platform: history_stats
  unique_id: ac_bedroom_runtime_7days
  name: AC Bedroom Runtime 7 Days
  entity_id: climate.ac_bedroom
  state: 'cool'
  type: time
  start: '{{ now().replace(hour=0, minute=0, second=0) - timedelta(days=7) }}'
  end: '{{ now() }}'

- platform: history_stats
  unique_id: ac_office_runtime_7days
  name: AC Office Runtime 7 Days
  entity_id: climate.ac_office
  state: 'cool'
  type: time
  start: '{{ now().replace(hour=0, minute=0, second=0) - timedelta(days=7) }}'
  end: '{{ now() }}'

- platform: history_stats
  unique_id: ac_kid_runtime_7days
  name: AC Kid Runtime 7 Days
  entity_id: climate.ac_iacopewee
  state: 'cool'
  type: time
  start: '{{ now().replace(hour=0, minute=0, second=0) - timedelta(days=7) }}'
  end: '{{ now() }}'

- platform: history_stats
  unique_id: dishwasher_runtime_yesterday
  name: Dishwasher Runtime Yesterday
  entity_id: sensor.dishwasher_operation_state
  state: 'run'
  type: time
  start: '{{ now().replace(hour=0, minute=0, second=0) - timedelta(days=1) }}'
  end: '{{ now().replace(hour=0, minute=0, second=0) }}'

- platform: history_stats
  unique_id: dishwasher_runtime_7days
  name: Dishwasher Runtime 7 Days
  entity_id: sensor.dishwasher_operation_state
  state: 'run'
  type: time
  start: '{{ now().replace(hour=0, minute=0, second=0) - timedelta(days=7) }}'
  end: '{{ now() }}'

- platform: history_stats
  unique_id: dishwasher_count_yesterday
  name: Dishwasher Count Yesterday
  entity_id: sensor.dishwasher_operation_state
  state: 'finished'
  type: count
  start: '{{ now().replace(hour=0, minute=0, second=0) - timedelta(days=1) }}'
  end: '{{ now().replace(hour=0, minute=0, second=0) }}'

- platform: history_stats
  unique_id: dishwasher_count_7days
  name: Dishwasher Count 7 Days
  entity_id: sensor.dishwasher_operation_state
  state: 'finished'
  type: count
  start: '{{ now().replace(hour=0, minute=0, second=0) - timedelta(days=7) }}'
  end: '{{ now() }}'

- platform: history_stats
  unique_id: washing_machine_runtime_yesterday
  name: Washing Machine Runtime Yesterday
  entity_id: sensor.washing_machine_operation_state
  state: 'run'
  type: time
  start: '{{ now().replace(hour=0, minute=0, second=0) - timedelta(days=1) }}'
  end: '{{ now().replace(hour=0, minute=0, second=0) }}'

- platform: history_stats
  unique_id: washing_machine_runtime_7days
  name: Washing Machine Runtime 7 Days
  entity_id: sensor.washing_machine_operation_state
  state: 'run'
  type: time
  start: '{{ now().replace(hour=0, minute=0, second=0) - timedelta(days=7) }}'
  end: '{{ now() }}'

- platform: history_stats
  unique_id: washing_machine_count_yesterday
  name: Washing Machine Count Yesterday
  entity_id: sensor.washing_machine_operation_state
  state: 'finished'
  type: count
  start: '{{ now().replace(hour=0, minute=0, second=0) - timedelta(days=1) }}'
  end: '{{ now().replace(hour=0, minute=0, second=0) }}'

- platform: history_stats
  unique_id: washing_machine_count_7days
  name: Washing Machine Count 7 Days
  entity_id: sensor.washing_machine_operation_state
  state: 'finished'
  type: count
  start: '{{ now().replace(hour=0, minute=0, second=0) - timedelta(days=7) }}'
  end: '{{ now() }}'

- platform: history_stats
  unique_id: dryer_runtime_yesterday
  name: Dryer Runtime Yesterday
  entity_id: sensor.dryer_operation_state
  state: 'run'
  type: time
  start: '{{ now().replace(hour=0, minute=0, second=0) - timedelta(days=1) }}'
  end: '{{ now().replace(hour=0, minute=0, second=0) }}'

- platform: history_stats
  unique_id: dryer_runtime_7days
  name: Dryer Runtime 7 Days
  entity_id: sensor.dryer_operation_state
  state: 'run'
  type: time
  start: '{{ now().replace(hour=0, minute=0, second=0) - timedelta(days=7) }}'
  end: '{{ now() }}'

- platform: history_stats
  unique_id: dryer_count_yesterday
  name: Dryer Count Yesterday
  entity_id: sensor.dryer_operation_state
  state: 'finished'
  type: count
  start: '{{ now().replace(hour=0, minute=0, second=0) - timedelta(days=1) }}'
  end: '{{ now().replace(hour=0, minute=0, second=0) }}'

- platform: history_stats
  unique_id: dryer_count_7days
  name: Dryer Count 7 Days
  entity_id: sensor.dryer_operation_state
  state: 'finished'
  type: count
  start: '{{ now().replace(hour=0, minute=0, second=0) - timedelta(days=7) }}'
  end: '{{ now() }}'

- platform: history_stats
  unique_id: oven_runtime_yesterday
  name: Oven Runtime Yesterday
  entity_id: sensor.oven_operation_state
  state: 'run'
  type: time
  start: '{{ now().replace(hour=0, minute=0, second=0) - timedelta(days=1) }}'
  end: '{{ now().replace(hour=0, minute=0, second=0) }}'

- platform: history_stats
  unique_id: oven_runtime_7days
  name: Oven Runtime 7 Days
  entity_id: sensor.oven_operation_state
  state: 'run'
  type: time
  start: '{{ now().replace(hour=0, minute=0, second=0) - timedelta(days=7) }}'
  end: '{{ now() }}'

- platform: history_stats
  unique_id: oven_count_yesterday
  name: Oven Count Yesterday
  entity_id: sensor.oven_operation_state
  state: 'finished'
  type: count
  start: '{{ now().replace(hour=0, minute=0, second=0) - timedelta(days=1) }}'
  end: '{{ now().replace(hour=0, minute=0, second=0) }}'

- platform: history_stats
  unique_id: oven_count_7days
  name: Oven Count 7 Days
  entity_id: sensor.oven_operation_state
  state: 'finished'
  type: count
  start: '{{ now().replace(hour=0, minute=0, second=0) - timedelta(days=7) }}'
  end: '{{ now() }}'

- platform: history_stats
  unique_id: cooktop_runtime_yesterday
  name: Cooktop Runtime Yesterday
  entity_id: sensor.cooktop_operation_state
  state: 'run'
  type: time
  start: '{{ now().replace(hour=0, minute=0, second=0) - timedelta(days=1) }}'
  end: '{{ now().replace(hour=0, minute=0, second=0) }}'

- platform: history_stats
  unique_id: cooktop_runtime_7days
  name: Cooktop Runtime 7 Days
  entity_id: sensor.cooktop_operation_state
  state: 'run'
  type: time
  start: '{{ now().replace(hour=0, minute=0, second=0) - timedelta(days=7) }}'
  end: '{{ now() }}'

- platform: history_stats
  unique_id: cooktop_count_yesterday
  name: Cooktop Count Yesterday
  entity_id: sensor.cooktop_operation_state
  state: 'finished'
  type: count
  start: '{{ now().replace(hour=0, minute=0, second=0) - timedelta(days=1) }}'
  end: '{{ now().replace(hour=0, minute=0, second=0) }}'

- platform: history_stats
  unique_id: cooktop_count_7days
  name: Cooktop Count 7 Days
  entity_id: sensor.cooktop_operation_state
  state: 'finished'
  type: count
  start: '{{ now().replace(hour=0, minute=0, second=0) - timedelta(days=7) }}'
  end: '{{ now() }}'
